*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincont{
  width: 100vw;
  height: 100%;
  background-color: #FFFFFF;



}

.top{
  width: 40%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  

}
.fields{
  height: 50px;
  align-items: baseline;

}
input{
  height: 33px;
  border-radius: 4px;
  border: solid #FFB30D 1px;
  


}
button{
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: solid #FFB30D 1px;


  
}

.bottom{
  height:75% ;
  width: 23%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 5px;
  
}
.each{
  margin-top: 10px;
  padding-left: .8rem;
  border-radius: 3px;
  background-color: #FFB30D;
  box-shadow: 9px 15px 24px 0px rgba(0,0,0,0.68);
  -webkit-box-shadow: 9px 15px 24px 0px rgba(0,0,0,0.68);
  -moz-box-shadow: 9px 15px 24px 0px rgba(0,0,0,0.68);
}